.sidebar {
  width: 200px;
  min-height: 100vh;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.sidebar ul {
  padding: 16px;
  margin: 0;
  list-style: none;
}
.sidebar ul li {
  margin-bottom: 32px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background-color: #f5f5f5;
}
